.photo {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.img-section img {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .photo {
        grid-template-columns: repeat(1, 1fr);
    }
}